extends layout

block content
  h1= title

  div.form
    form(name="upload", action="/upload", method="post")
        input(type="text", name="fileName")
        input(type="submit", value="upload")

 p= file

 h1= error



